.wrapper {
  background: #fff;
  display: flex;
  padding: 30px;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
}

.form {
  min-width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  font-size: 14px;
  margin-bottom: 3px;
  width: 100%;
}
.form input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 12px;
}
.form input:last-child {
  margin-bottom: 0px;
}

.form__checkbox_inner {
  border-top: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  padding: 8px 0px;
  margin-bottom: 5px;
}
.form__checkbox_text {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-size: 14px;
  max-width: 80%;
}

.form__btn {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.form__text_error {
  text-align: left;
  width: 100%;
  color: #f5222d;
}

.error {
  border: 1px solid red !important;
}
